@import "reset.css";

body {
    font-family: sans-serif;
    flex-flow: column;
}

a {  
    color: #232323;
    background-color: transparent;
    text-decoration: none;
}

nav {
    display: flex;
    background-color: orange;
    flex-flow: row;
    justify-content: space-around;
    padding: 0;
    margin-bottom: auto;
    list-style: none;
}

ul {
    border: 2px solid red;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.left-nav {
    border: 2px solid blue;
    justify-content: flex-start;
    margin-right: auto;
}

ul.right-nav {
    border: 2px solid green;
    justify-content: flex-end;
}

section {
    flex-flow: column;
    justify-content: center;
}

footer {
    background-color: orange;
    display: flex;
    flex-flow: row;
    position: absolute;
    justify-content: space-around;
    padding: 0;
    margin-top: auto;
    bottom: 0px;
    width: 100%;
    list-style: none;
}

ul.left-footer {
    border: 2px solid blue;
    justify-content: flex-start;
    margin-right: auto;
}

ul.right-footer {
    border: 2px solid green;
    justify-content: flex-end;
}