@import "reset.css";

body {
    font-family: sans-serif;
}

a {  
    color: #232323;
    background-color: transparent;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav .main-container {
    display: flex;
}

div .top-nav {
    font-size: 12px;
    display: block;
}

div .top-nav-left {
    border: 1px solid royalblue;
    float: left;
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
    gap: 12px;
}

div .top-nav-right {
    border: 1px solid red;
    float: right;
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
    gap: 12px;
}

section .logo {
    background-color: orange; 
}