@import "reset.css";

body {
    font-family: sans-serif;
}
div .main-container {
    display: block;
}

div .top-nav {
    background-color: #ffa500;
}

div .top-nav-left {
    border: 1px solid royalblue;
}

div .top-nav-right {
    border: 1px solid red;
}